//MODAL
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0;
    transition: .4s;
}

.modal__form {
    width: 85%;
    height: 85%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: relative;
}

.modal__svg {
    right: 40px;
    top: 30px;
    width: 23px;
    height: 23px;
    position: absolute;
    stroke: #000000;
    cursor: pointer;
    stroke-width: 1.5;
}

.modal__svg-img {
    pointer-events: none;
}

.modal__svg:hover {
    stroke: #e98930;
    stroke-width: 3.5;
    scale: 1.1;
    transition: .3s;
}

.modal--active {
    z-index: 100;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.79);
    opacity: 1;
    transition: all 0.4s;
}


//HEADER
.header {
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        padding-left: 38px;
    }
}

.menu {
    &__items {
        display: flex;
        letter-spacing: 1.6px;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        align-items: center;
    }

    &__item {
        padding: 0 20px;

        &-link:hover {
            color: #e98930;
            transition: .4s;
        }
    }

    &__item-btn {
        padding: 9px 20px;
        border-radius: 20px;
        background-image: linear-gradient(to bottom, #e65c31 0%, #e98930 100%);

        &:hover {
            color: white;
            background-image: linear-gradient(to bottom, #e98930 0%, #e65c31 100%);
            transition: .4s;

        }
    }
}


//FOOTER
.footer {
    background-color: black;

    &__inner {

        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
    }

    &__rules {
        margin-top: 50px;
        text-decoration: underline;
        font-weight: 400;
        color: white;
        letter-spacing: 0.7px;
        outline: none;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__copy {
        margin-top: 5px;
        color: white;
        letter-spacing: 0.7px;
    }

    &__partners {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__partners-item {
        &:hover {
            scale: 1.1;
            transition: .4s;
        }
    }

    &__partners-link {

    }

    &__partners-img {
        width: 100%;
        height: 100%;

    }

    &__partners-img1 {
        width: 95px;
        height: 32px;
    }
}


//TOP
.top {
    background: url("../img/main-header-bg.jpg") no-repeat center;
    //background: image-set(
    //        url("../img/main-header-bg.avif") type("image/avif"),
    //        url("../img/main-header-bg.jpg") type("image/jpeg")) no-repeat center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__content {
        color: white;
        width: 600px;
        text-align: center;
    }

    &__title {
        font-size: 55px;
        font-weight: 700;
        line-height: 71.5px;
        text-transform: uppercase;
        margin: 0 0 15px;
        letter-spacing: 3px;
    }

    &__text {
        font-size: 36px;
        line-height: 47px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    &__statistic {
        background-color: white;
        box-shadow: 0 0 20px 11px rgba(0, 0, 0, .09);
        border-radius: 56px;
        border: 5px solid #e98130;
        padding: 30px;
        color: black;
        text-align: center;
    }

    &__statistic-title {
        font-size: 23px;
        color: white;
        text-transform: uppercase;
        background: #e98130;
        font-weight: 500;
        margin: 20px -30px 30px -30px;
        padding: 20px 45px;
        letter-spacing: 1.5px;
    }

    &__statistic-items {
        margin-bottom: 30px;
    }

    &__statistic-item {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: 24px;
        display: flex;
        font-weight: 500;
        justify-content: space-between;
    }

    &__statistic-name {
    }

    &__statistic-info {
        color: #e98930;

    }

    &__statistic-rname {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }

    &__statistic-summ {
        font-size: 27px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 40px;

    }

    &__statistic-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    &__statistic-link {
        border-radius: 22px;
        padding: 15px 40px;
        box-shadow: 9px 14px 10px 2px rgba(0, 0, 0, .09);
        background-image: linear-gradient(to top, #e65c31 0%, #e98930 100%);
        margin-bottom: 10px;

        &:hover {
            background-image: linear-gradient(to bottom, #e65c31 0%, #e98930 100%);
        }
    }
}


//RULES
.rules {
    background-color: #f7f7f7;
    padding: 70px 70px;
    height: 100%;
    overflow-y: auto;
    color: #484848;
    font-weight: 400;

    &__content {
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, .09);
        border-radius: 36px;
        background-color: white;
        padding: 50px 30px;
    }

    &__item-global {
        margin-bottom: 50px;
    }

    &__title {
        font-size: 40px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 80px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 500;
    }

    &__paragraph {
        margin-bottom: 20px;
    }

    &__list {
        font-size: 15px;
        margin-bottom: 30px;
    }

    &__list-item {
    }

    &__sublist-item {
        list-style: inside;
        margin-left: 20px;
    }

    &__list-item {
        margin-bottom: 20px;
        line-height: 20px;
    }

    &__sublist {
    }

    &__sublist-item {
    }

    &__link {
        color: #e98930;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}


//START
.start {
    background: url("../img/start-bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;


    &__title {
        font-size: 40px;
        line-height: 28px;
        font-weight: 500;
        padding-top: 100px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    &__text {
        color: #484848;
        margin-bottom: 100px;
        letter-spacing: 0.7px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;

    }

    &__item {
        width: 360px;
    }

    &__item-img {
        width: 96px;
        height: 96px;
    }

    &__item-title {
        font-size: 19px;
        line-height: 28px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    &__item-text {
        color: #484848;
        letter-spacing: 0.7px;
    }
}


//CALCOLATOR
.calculator {
    background: url("../img/calculator-bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;

    &__title {
        font-size: 40px;
        line-height: 28px;
        font-weight: 500;
        padding-top: 80px;
        margin-bottom: 60px;
        letter-spacing: 1px;
        color: white;
    }

    &__line {
        appearance: none;
        height: 6px;
        margin-bottom: 50px;
        width: 80%;
        outline: none;
        border-radius: 50px;


        &::-webkit-slider-thumb {
            appearance: none;
            border: 1px solid #484848;
            height: 25px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
            margin-top: 0;
            box-shadow: 0.3em 0.3em 0.4em rgba(193, 194, 197, 0.75) inset, -0.3em -0.3em 0.4em #fff inset;
        }

        &::-moz-range-thumb {
            appearance: none;
            border: 1px solid #484848;
            height: 25px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
            margin-top: 0;
            box-shadow: 0.3em 0.3em 0.4em rgba(193, 194, 197, 0.75) inset, -0.3em -0.3em 0.4em #fff inset;

        }

        &::-ms-thumb {
            appearance: none;
            border: 1px solid #484848;
            height: 25px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
            margin-top: 0;
            box-shadow: 0.3em 0.3em 0.4em rgba(193, 194, 197, 0.75) inset, -0.3em -0.3em 0.4em #fff inset;

        }
    }

    &__sum {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 40px;
        letter-spacing: 0.7px;
    }

    &__sum-title {
        color: white;
    }

    &__sum-digits {
        color: black;
        padding: 15px 40px;
        margin-left: 30px;
        width: 200px;
        border-radius: 50px;
        font-weight: 500;
        border: none;
        outline: none;
        box-shadow: 11px 13px 20px 8px rgba(0, 0, 0, .09);
        text-align: center;
    }

    &__count {
        color: white;
        margin-bottom: 40px;
        font-weight: 600;
    }

    &__count-speed {
        font-size: 24px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    &__profit {
        background-color: white;
        border: #e98930 3px solid;
        border-radius: 21px;
        width: 450px;
    }

    &__profit-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #cecece 1px solid;
        padding: 20px 25px;
        line-height: 30px;
        font-weight: 700;

        &:last-child {
            border: none;
        }
    }

    &__profit-text {
        letter-spacing: 0.7px;
        position: relative;
        padding-left: 35px;

        &::before {
            content: "";
            top: -4px;
            left: 0;
            position: absolute;
            background: url("../img/check.png") no-repeat center;
            background-size: cover;
            width: 30px;
            height: 30px;
        }
    }

    &__profit-sum {
        padding: 5px 0;
        font-size: 10px;
        font-weight: 400;
        background-color: #e77630;
        border-radius: 50px;
        color: white;
        text-align: center;
        width: 137px;
    }

    &__profit-digits {
        font-size: 15px;
        font-weight: 400;

    }

    &__referrals {
        background-color: white;
        border: #e98930 3px solid;
        border-radius: 21px;
        padding: 25px 20px;
        font-weight: 700;
        width: 450px;
    }

    &__referrals-title {
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    &__referrals-text {
        border-radius: 21px;
        background-color: #e77630;
        display: inline-block;
        color: white;
        font-weight: 400;
        padding: 5px 20px;
    }

    &__text {
        padding-bottom: 100px;
        color: white;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


//SUPPORT
.support {
    width: 800px;
    margin: 0 auto;

    &__text {
        margin-bottom: 95px;
        margin-top: 95px;
        color: #e98930;
        font-size: 25px;
        font-weight: 500;
        line-height: 50px;
        text-align: center;
    }
}


//MAIN-PAGES
.main-pages {
    background-color: #cecece;
}


//REGISTER
.register {
    position: relative;
    padding: 50px 0;

    &--mini {
    }

    &__sidebar {

        position: absolute;
        top: 30px;
        left: 0;
    }

    &__sidebar-items {
    }

    &__sidebar-item {
    }

    &__sidebar-link {
        display: flex;
        gap: 7px;
        align-items: center;
        margin-bottom: 18px;
        color: #343434;
        letter-spacing: .8px;

        &:hover {
            color: #e98930;
            stroke: #e98930;
            fill: #e98930;
            transition: .3s;
        }
    }

    &__sidebar-svg {
        width: 14px;
        height: 14px;
    }

    &__sidebar-text {

    }

    &__content {
        width: 637px;
        background-color: white;
        border-radius: 50px;
        margin: 0 auto;
    }

    &__content-top {
        background-color: black;
        color: white;
        border-radius: 50px 50px 0 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        text-align: center;
        align-items: center;
        padding-bottom: 36px;
        padding-top: 36px;
        letter-spacing: 1px;
    }

    &__content-svg {
        fill: white;
        width: 50px;
        height: 50px;
    }

    &__content-topTitle {
        font-size: 25px;
        margin-bottom: 15px;
    }

    &__content-topText {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: white;
    }

    &__content-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #424242;
    }

    &__content-body {
        text-align: center;
        padding: 25px;
    }

    &__btns {
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    &__btn {
        width: 284px;
        height: 45px;
        border-radius: 50px;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;

        &:hover {
            filter: grayscale(40%);
            transition: .3s;
        }
    }

    &__btn--vk {
        background-color: #2a81f4;
        fill: white;
    }

    &__btn--ok {
        background-color: #f16208;
    }

    &__btn--go {
        background-color: #b63f31;
    }

    &__btn-svg {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
    }

    &__form {
        margin: 30px 0 40px;
        display: flex;
        flex-direction: column;

    }

    &__form-input {
        width: 524px;
        height: 50px;
        outline: none;
        color: #545454;
        font-size: 19px;
        font-weight: 600;
        border: 1px solid #e98930;
        box-shadow: 7px 12px 12px 4px rgba(0, 0, 0, .09);
        border-radius: 2.6rem;
        background-color: #ffffff;
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;

        &::placeholder {
            text-align: center;
            color: rgba(84, 84, 84, 0.56);
            transition: .4s;
        }

        &:focus {
            border: 3px solid black;

            &::placeholder {
                color: transparent;
                transition: .4s;
                scale: 0;
            }
        }
    }

    &__form--captcha {
        width: 200px;
    }

    &__captcha {
        width: 167px;
        height: 63px;
        border: #cecece 1px solid;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__form-btn {
        border-radius: 22px;
        padding: 15px 40px;
        box-shadow: 7px 12px 12px 4px rgba(0, 0, 0, .09);
        background-image: linear-gradient(to top, #e65c31 0%, #e98930 100%);
        width: 240px;
        height: 50px;
        margin: 0 auto;
        color: white;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-image: linear-gradient(to bottom, #e65c31 0%, #e98930 100%);
        }
    }

    &__content--warning {
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__content--mini {
        font-size: 10px;
        line-height: 13px;
        margin: 30px auto 0;
        width: 350px;
    }

    &__content-btn {
        cursor: pointer;
        color: #e98930;
        text-decoration: underline;
        outline: none;

        &:hover {
            text-decoration: none;
        }
    }

}

